<link rel="stylesheet" href="../styles/footer.css" type="text/css">
<link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap" rel="stylesheet">
<footer>
  <p>2020 <a href="https://github.com/lord-proton">Graham Tyler</a></p>
  <p><a href="https://github.com/sE7rgo">Sergii Gorbatyi</a></p>
</footer>
