<link rel="stylesheet" href="../styles/header.css" type="text/css">
<link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Six+Caps&display=swap" rel="stylesheet">
<header>
  <nav>
    <span class="span">Decision Maker</span>
    <div>
      <% if (email) {%>
        <div style="margin-right: 30px;">Logged in As: <%= email %>
        </div>
        <form class="form-inline" action='logout' method="POST">
        <button type="submit" class="btn btn-outline-dark">Log out</button>
      </form>
      <% } else { %>
       <form class="form-group" action='/login' method="POST">
      <input class="form-control" type="email" name="creator_email" value="<%= email %>"  placeholder="Enter email" style="width: 10em; margin: 0m">
      <button class="login_button" type="submit">Sign in</button>
    </form>
    </div>
    <% } %>
  </nav>
</header>
