<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/new-poll.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Syncopate&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

  </head>

  <body>
    <%- include('partials/_header') %>
    <main class="new-poll">
      <% if (email) {%>
        <form action="">
          <div>
            <label for="Question"></label>
            <input type="text" name="options_1" placeholder="Add an Option" maxlength="200" tabindex="1" data-validation-length="...200" data-validation-length-message="Option must not contain more then 200 characters" >
          </div>
          <div>
            <label for="Question_2"></label>
            <input type="text" name="options_1" placeholder="Add an Option" maxlength="200" tabindex="1" data-validation-length="...200" data-validation-length-message="Option must not contain more then 200 characters" >
            <button class="new-question" type="button">Add an Option</button>
          </div>
          <div class="comment">
            <label for="Comment">Comment</label>
            <input type="text" name="comment" placeholder="Add a Comment (optional)" maxlength="400" tabindex="1" data-validation-length="...400" data-validation-length-message="Comments must not contain more then 400 characters" >
            <button type="submit">Submit</button>
          </div>
        </form>
        <% } else { %>
          <% } %>
    </main>
    <%- include('partials/_footer') %>
  </body>
</html>
