<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Show Poll</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/styles/poll-show.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Syncopate&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

  </head>

  <header>
    <nav>
      <span class="span">Decision Maker</span>
    </nav>
  </header>
  <main>
    <h2><%= question %></h2>
    <table class="table"></table>
      <thead>
        <tr>
          <th scope="col">Choices</th>
          <th scope="col">Votes</th>
        </tr>
      </thead>
    <tbody>
      <% for(let choice of choices) { %>
        <tr>
          <td><%= choice %></td>
          <td>%= votes %></td>
        </tr>
      <% } %>
    </tbody>
      <%- include('partials/_footer') %>
  </main>
</html>
