// See: https://sass-lang.com/

body {
  margin-top: 15vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  font-family: 'Syncopate', sans-serif;
  width: 100%;

  h1 {
    color: #244751;
  }
}
